form {
    border: thin solid #40a6ff;
    padding: 2rem;
    margin: 2rem;
    display: flex;
}

.formtext {
    position: relative;
    top: -48px;
    background: white;
    padding: 7px;
    width: 97px;
    color: #40a6ff;
}
